<div class="ins-row">
    <span>Position</span>

    <div class="col-right">
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">X</span>
                    <input type="text" pInputText [value]="asset.data.position.x" placeholder="0.0">
                </div>
            </div>
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Y</span>
                    <input type="text" pInputText [value]="asset.data.position.y" placeholder="0.0">
                </div>
            </div>
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Z</span>
                    <input type="text" pInputText [value]="asset.data.position.z" placeholder="0.0">
                </div>
            </div>
        </div>
</div>
<div class="ins-row">
    <span>Rotation</span>
    <div class="col-right">
        <div class="col-33">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">X</span>
                <input type="text" pInputText [value]="asset.data.rotation.x" placeholder="0.0">
            </div>
        </div>
        <div class="col-33">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Y</span>
                <input type="text" pInputText [value]="asset.data.rotation.y" placeholder="0.0">
            </div>
        </div>
        <div class="col-33">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">Z</span>
                <input type="text" pInputText [value]="asset.data.rotation.z" placeholder="0.0">
            </div>
        </div>
    </div>
</div>
<div class="ins-row">
    <span>Scale</span>
    <div class="col-right">
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">X</span>
                    <input type="text" pInputText [value]="asset.data.scale.x" placeholder="0.0">
                </div>
            </div>
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Y</span>
                    <input type="text" pInputText [value]="asset.data.scale.y" placeholder="0.0">
                </div>
            </div>
            <div class="col-33">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">Z</span>
                    <input type="text" pInputText [value]="asset.data.scale.z" placeholder="0.0">
                </div>
            </div>
        </div>
</div>