@font-face {
  font-family: 'Wombat-Icons';
  src:  url('fonts/Wombat-Icons.eot?lhkp92');
  src:  url('fonts/Wombat-Icons.eot?lhkp92#iefix') format('embedded-opentype'),
    url('fonts/Wombat-Icons.ttf?lhkp92') format('truetype'),
    url('fonts/Wombat-Icons.woff?lhkp92') format('woff'),
    url('fonts/Wombat-Icons.svg?lhkp92#Wombat-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wicon-"], [class*=" wicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Wombat-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wicon-translate:before {
  content: "\e900";
}
.wicon-rotate:before {
  content: "\e901";
}
.wicon-scale:before {
  content: "\e902";
}
