@import '../../theme';

section {
    padding: 10px;
    height:100%;
}

.project-tree{
    float:left;
    height:100%;
    margin-right:10px;
    .ui-tree{
        width: 240px;
        height:100%;
        padding:0px;
        border-color: $borderTreeColor;
        background-color: $backgroundTreeColor;
    }
}

.asset-zone{
    float:left;
    border: 1px solid $borderTreeColor;
    background-color: $backgroundTreeColor;
    border-radius:3px;
    height:100%;
    width: calc(100% - 250px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: auto;
    ul{
        list-style-type:none;
        margin:0;
        padding:10px;
        li {
            float:left;
        }
    }
}

.asset{
    width:80px;
    cursor: pointer;
    // border:1px solid white;
    &-img {
        margin:auto;
        width:60px;
        height:60px;
        background-color:rgb(61, 89, 100);
    }
    &-text {
        width: 100%;
        margin:5px 0;
        text-align: center;
        span{
            padding:0 2px;
        }
    }
    &:hover {
        .asset-text > span{
            background-color: #ddd;
            border-radius:6px;
        }
    }
}