<section>
    <p-tree [value]="projectTree" class="project-tree" selectionMode="single" [(selection)]="selectedFolder"></p-tree>

    <div class="asset-zone" pDroppable="assets" (onDrop)="dropAsset($event)" (onDragEnter)="dragEnter()">
        <ul>
            <li *ngFor="let asset of scene.environment.assets" class="asset" (click)="assetFocus(asset)">
                <div class="asset-img"></div>
                <div class="asset-text">
                    <span>{{asset.name}}</span>
                </div>
            </li>
        </ul>

    </div>

</section>