section {
    padding-top:8px;
    padding-left:15px;

    .logo-icon{
        float:left;
        height:30px;
        width:52px;
        margin-right:15px;
        margin-top:1px;
        // background: red;
        background-image: url('../../assets/wombat-icon.png');
        background-repeat: no-repeat;
        background-size:contain;
    }
    p-dropdown{
        position: relative;
        top:-2px;
        margin-left:20px;
    }

    p-button{
        margin-left:20px;
    }
}