<section>
    <div class="logo-icon"></div>
    <p-selectButton [options]="transformMode" [(ngModel)]="selectedMode" (ngModelChange)="changeMode()"></p-selectButton>
    <p-dropdown [options]="transformSpace" [(ngModel)]="selectedSpace" (ngModelChange)="changeSpace()"></p-dropdown>
</section>