@import '../../theme';

p-tabView {
    height: 100%;
    float:left;
    // margin-top:10px;
}

p-tabPanel {
    ul{
        list-style: none;
        padding:0;
        margin:0;

        li{
            width:100%;
            float:left;
            cursor: pointer;
            padding:2px 5px;
            &:hover{
                background-color:#777;
            }

            div{
                float:left;
                width:30px;
                height:30px;
                background-size: contain;
            }
            span{
                float:left;
                padding-top:6px;
                padding-left:5px;
            }
        }
    }
}

// Prime NG style override.

.tabview-left {
    .ui-tabview{
        height: 100%;
        padding: 0;
        .ui-tabview-panel{
            padding: 0;
        }
    }
    .ui-corner-all{
        border-radius:0px;
    }
    .ui-widget-content{
        border:none;
    }
    .ui-widget-header{
        background-color: $backgroundColor;
    }

    .ui-tabview-left{
        >.ui-tabview-nav {
            width: 45%;
            padding-top:0;
            height:100%;
        }
        >.ui-tabview-panels{
            border: none;
            width: 55%;
            padding:0;
            height:100%;
            background-color: #1a1a1a;
        }
    }
}