<p-tabView class="tabview-left" orientation="left">
  <p-tabPanel header="Primitives">
    <ul>
      <li *ngFor="let item of primitives" (dblclick)="item.command()" pDraggable="assets"
      (onDragStart)="dragAsset($event, item.command)" (onDragEnd)="dragAndDrop.dragEnd()">
        <div [ngStyle]="{'background-image' : 'url(../../assets/shapes/'+item.icon+'.png)'}"></div>
        <span>{{item.label}}</span>
      </li>
    </ul>
  </p-tabPanel>

  <p-tabPanel header="Lights">
    <ul>
      <li *ngFor="let item of lights" (dblclick)="item.command()"
          pDraggable="assets" (onDragStart)="dragAsset($event, item.command)" (onDragEnd)="dragAndDrop.dragEnd()">
        <div [ngStyle]="{'background-image' : 'url(../../assets/shapes/'+item.icon+'.png)'}"></div>
        <span>{{item.label}}</span>
      </li>
    </ul>
  </p-tabPanel>

  <p-tabPanel header="Utils">
    <ul>
      <li *ngFor="let item of utils" (dblclick)="item.command()"
          pDraggable="assets" (onDragStart)="dragAsset($event, item.command)" (onDragEnd)="dragAndDrop.dragEnd()">
        <div [ngStyle]="{'background-image' : 'url(../../assets/shapes/'+item.icon+'.png)'}"></div>
        <span>{{item.label}}</span>
      </li>
    </ul>
  </p-tabPanel>
</p-tabView>