@import '../theme';

$toolbarHeight: 50px;
$lateralFrameWidth: 300px;
$leftFrameWidth: 250px;
$bottomFrameHeight:200px;

toolbar {
    position: absolute;
    width:100%;
    height: $toolbarHeight;
    background-color: $backgroundColor;
    border-bottom:2px solid $backgroundLineColor;
    z-index: 2;
}

left-frame{
    position: absolute;
    background-color: $backgroundColor;
    border-right:2px solid $backgroundLineColor;
    width: $leftFrameWidth;
    height:calc(100% - (#{$toolbarHeight} + #{$bottomFrameHeight}));
    left:0;
    top: $toolbarHeight;
    z-index: 1;
}

bottom-frame{
    position: absolute;
    background-color: $backgroundColor;
    border-top:2px solid $backgroundLineColor;
    width: calc(100% - #{$lateralFrameWidth});
    z-index: 1;
    height:$bottomFrameHeight;
    bottom:0;
}

right-frame{
    position: absolute;
    background-color: $backgroundColor;
    border-left:2px solid $backgroundLineColor;
    width: $lateralFrameWidth;
    height:calc(100% - #{$toolbarHeight});
    right:0;
    top: $toolbarHeight;
    z-index: 1;
}

viewport {
    position: absolute;
    top: $toolbarHeight;
    width:calc(100% - (#{$lateralFrameWidth} + #{$leftFrameWidth}));
    height:calc(100% - (#{$toolbarHeight} + #{$bottomFrameHeight}));
    left: $leftFrameWidth;
} 