<div class="ins-row">
    <span>Type</span>
    <p-dropdown [options]="materials" [(ngModel)]="selectedMaterial" (click)="changeMaterial()" (ngModelChange)="changeMaterial()"></p-dropdown>
</div>

<div class="ins-row">
    <span>Diffuse</span>
    <p-colorPicker [(ngModel)]="diffuseColor" (ngModelChange)="changeEmissive()"></p-colorPicker>
</div>