<div class="ins-row">
  <span>Color</span>
  <p-colorPicker [(ngModel)]="lightColor" (ngModelChange)="changeColor()"></p-colorPicker>
</div>

<div class="ins-row">
  <span>Intensity</span>
 <input-slider [(value)]="asset.data.data.intensity"></input-slider>
</div>