@import '../../../theme';

p-tree {
    .ui-tree{
        height:250px;
        width:100%;
        padding: 0;
        border-color: $borderTreeColor;
        background-color: $backgroundTreeColor;
    }
}