<p-tree [value]="scene.tree" selectionMode="single" [(selection)]="scene.selectedElement"
(onNodeSelect)="nodeSelect($event)" pDroppable="assets" (onDrop)="drop()">

    <ng-template let-node pTemplate="default">
        <span class="label">{{node.label}}</span>
    </ng-template>

</p-tree>