<div class="input-slider">
  <p-slider [(ngModel)]="sliderValue" (ngModelChange)="changeInputValue()"></p-slider>
  <input type="text" [(ngModel)]="inputValue" (ngModelChange)="changeSliderValue()" pInputText placeholder="0.0">
</div>