/* You can add global styles to this file, and also import other style files */

@import 'theme';
@import 'primeng';

body{
    margin:0;
    overflow: hidden;
    user-select: none;
}

a{
    text-decoration: none;
}

.ins-row {
    margin-bottom:10px;
    > span{
        padding-right:10px;
        width:100px;
        display: inline-block;
    }

    .col-right {
        display: flex;
        margin-top:8px;
        input, span{
            float: left;
        }
        span{
            width: 10px;
            padding-right:5px;
            text-align: left;
        }
        input{
            width: calc(100% - 15px);
        }
    }

    .col-33{
        float: left;
        width:33.33%;
        &:not(:first-child){
            margin-left:10px;
        }
        .ui-inputgroup-addon{
            text-align: center;
        }
    } 
    
    > input{
        width:calc(100% - 100px);
    }

    .ui-dropdown{
        width:calc(100% - 100px) !important;
    }
    .ui-colorpicker{
        width:calc(100% - 100px) !important;
        input{
            width:100%;
        }
    }

    .input-slider{
        display: inline-block;
        width:calc(100% - 100px) !important;
        .ui-slider{
            width:65% !important;
            margin-right:10%;
            display: inline-block !important;
        }
        > input{
            width:25%;
        }
    }
}