section {
    float:left;
    width: 100%;
    padding-left:5px;
    padding-right:6px;

    display:flex;
    flex-direction: column;

    p-accordion{
        position: relative;
        top:10px;
        overflow: auto;
        height: calc(100% - 250px);
    }

    .no-asset{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color:#777;
    }
}