<section>

    <hierarchy></hierarchy>

    <ng-container *ngIf="currentAsset; else elseBlock">

        <p-accordion [multiple]="true">
            <p-accordionTab header="Details" [selected]='true'>
                <div class="ins-row">
                    <span>Name</span>
                    <input type="text" pInputText [(ngModel)]="currentAsset.name" />
                </div>
            </p-accordionTab>

            <p-accordionTab *ngIf="currentAsset.type == 'GameEntity' && currentAsset.inScene" header="Coordinates" [selected]='true'>
                <coordinates [asset]="currentAsset"></coordinates>
            </p-accordionTab>

            <p-accordionTab *ngIf="currentAsset.type == 'material' ||  currentAsset.data.category == 'Mesh'" header="Material" [selected]='true'>

                <ng-container *ngIf="currentAsset.type == 'material'; else elseBlock">
                    <material [asset]="currentAsset"></material>
                </ng-container>

                <ng-template #elseBlock>
                    <div class="ins-row">
                        <span>Material</span>
                        <p-dropdown [options]="toolbox.materialsList" [(ngModel)]="selectedMaterial" (ngModelChange)="changeMaterial()" placeholder="No material"></p-dropdown>
                    </div>
                </ng-template>

            </p-accordionTab>

            <p-accordionTab *ngIf="currentAsset.data.category == 'Light'" header="Light" [selected]='true'>
                <light [asset]="currentAsset"></light>
            </p-accordionTab>

        </p-accordion>

    </ng-container>

    <ng-template #elseBlock>
        <div class="no-asset">
            <span>No asset selected.</span>
        </div>
    </ng-template>

</section>